section{
    margin: 0 15% 2rem 15%;
    background-color: rgb(209, 217, 255);
}

section > div:nth-child(1){
    background-color: rgb(174, 174, 211);
    display: flex;
    flex-wrap: nowrap;
    width: 100% ;
}

section > div:nth-child(1) h3{
    padding: 5px 15px;
    border-right: 1px solid grey;
    cursor: pointer;
    width: 25%;
    display: flex;
    justify-content: center;
}

section div:nth-child(1) > h3:nth-child(1){
    background-color: rgb(203, 205, 224);
}

section div:nth-child(1) h3:hover{
    background-color: rgb(187, 181, 181);
}

section > div:not(div:nth-child(1)){
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
}

section > div:not(div:nth-child(1)) > div{
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    border-bottom: black 1px dotted;
}

section > div:not(div:nth-child(1)) > div > div:nth-child(1){
font-weight: 600;
}

section > div:not(div:nth-child(1)) > div > div:nth-child(2){
position: absolute;
margin-left: 20%;
width: 40%;
}

section > div:not(div:nth-child(1)) > div  div:nth-child(2) > a, button {
position: absolute;
right: 10px;
padding: 1px 4px !important;
background-color: #5bc0dea6 !important;
}

.modal-footer button{
    position: absolute !important; 
    right: 100px !important; 
padding: 4px 12px !important;
background-color: #5bc0dea6 !important;
}

.general > div:nth-child(2n) > div > input{
    width: 30ch;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}

section > div:not(div:nth-child(1)) > div  div:nth-child(2) > a:hover{
    background-color: rgb(154, 168, 196);
}

.do-button{
cursor: pointer;
background-color: cornflowerblue;
color: cornsilk;
width: fit-content;
padding: 5px;
border-radius: 7px;
background: linear-gradient(145deg, #78a3c4, #5a98c7);
box-shadow:  2px 1px 2px #284256,
             -1px -1px 1px #87a0b1;
}

.do-button:active{
    background: linear-gradient(145deg, #5a98c7, #78a3c4);
    box-shadow:  -1px -1px 2px #284256,
                 2px 1px 1px #87a0b1;
}

h2{
    margin-left: 15% ;
    font-size: 25px !important;
    font-weight: 600 !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

h3{
    margin: 0 !important;
    font-size: 19px !important;
}

#alert-msg{
    font-size: 20px;
    text-align: center;
     color:#c70942;
     width:80vw;
}

#password-input{
    text-align: center;
    border-radius: 5px;
    outline: none;
    border: olive 1px solid;
    padding: 10px;
    width: 30ch;
    font-size: 15px;
    box-shadow: rgb(177, 177, 137) 0 0 5px inset;
    margin: auto;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 550px) {
    section{
        margin: 0 3vw 0 8vw;
    }
    section > div:not(div:nth-child(1)) > div > div:nth-child(2){
        width: 50%;
        }
        h3{
            margin: 0 !important;
            font-size: 17px !important;
        }
        
}

@media screen and (max-width: 400px){
    section > div:not(div:nth-child(1)) > div > div:nth-child(2){
        margin-left: 25%;
        width: 60%;
        }
        section > div:not(div:nth-child(1)){
            margin-left: 10px;
        }
        h3 {
            margin: 0 !important;
            font-size: 14px !important;
        }
        #password-input{
            width: 20ch;
            padding: 5px 10px;
        }
}