<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="./../public/form/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./../public/form/css/fontawsome-all.min.css">
    <link rel="stylesheet" type="text/css" href="./../public/form/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="./../public/form/css/iofrm-theme1.css">
</head>

<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="/">
                <div class="logo">
                    <img class="logo-size" src="./../public/form/images/logo-light.svg" alt="" height="100px">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder"></div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Get more things done with Loggin platform.</h3>
                        <p>Access to the most powerfull tool in the entire design and web industry.</p>
                        <div class="page-links">
                            <a href="/login" class="active">Login</a><a href="/register">Register</a>
                        </div>
                        <form>
                            <input class="form-control" spellcheck="false" type="text" name="username" id="username" placeholder="Username"
                                required>
                            <div style="display: flex; flex-wrap: nowrap;">
                                <input class="form-control" spellcheck="false" type="password" name="password" id="password"
                                    placeholder="Password" required>
                                <button type="button" class="ibtn" onclick="sPwd()"
                                    style=" margin: 0 0 14px; border-radius: 7px; border: 1px solid grey; outline: none;"><img
                                        class="sPwd" src="./../public/form/images/eye-slash-solid.svg"
                                        width="20px"></button>
                            </div>
                             <div id="alert-msg"></div>
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Login</button> <a
                                    href="/recovery">Forget password?</a>
                            </div>
                        </form>
                        <div class="other-links">
                            <span>Or login with</span><a href="#">Facebook</a><a href="#">Google</a><a
                                href="#">Linkedin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./../public/form/js/main.js"></script>
    <script src="./../public/api/login.js"></script>
</body>

</html>