@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
*, body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
/*#alert-msg
.form-body>.row */
form {
    text-shadow: none!important
}

body, html {
    height: 100%;
}

.form-body {
    background-color: #0093ff;
    height: 100%
}

.form-body>.row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: 100%
}

.website-logo {
    display: inline-block;
    position: absolute;
    z-index: 1000;
    top: 50px;
    left: 50px;
    right: initial;
    bottom: initial
}

.website-logo img {
    width: 100px
}

.website-logo a {
    display: inline-block
}

.website-logo .logo {
    display: inline-block;
    background-image: url(../images/logo-light.svg);
    background-size: contain;
    background-repeat: no-repeat
}

.website-logo .logo img {
    width: 100px
}

.website-logo .logo img.logo-size {
    opacity: 0!important
}

.img-holder {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    min-height: 650px;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    padding: 60px;
    text-align: center;
    z-index: 999
}

.img-holder .info-holder {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.img-holder .info-holder h3 {
    display: inline-block;
    color: #fff;
    text-align: left;
    font-size: 23px;
    font-weight: 900;
    margin-bottom: 30px;
    width: 100%;
    max-width: 378px;
    padding-right: 30px
}

.img-holder .info-holder h2 {
    display: inline-block;
    color: #fff;
    text-align: left;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 30px;
    width: 100%;
    max-width: 378px
}

.img-holder .info-holder h2 span {
    font-size: 32px;
    font-weight: 900;
    color: #fe4777
}

.img-holder .info-holder p {
    display: inline-block;
    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 378px;
    padding-right: 30px
}

.img-holder .info-holder img {
    width: 100%;
    max-width: 378px
}

.img-holder .bg {
    position: absolute;
    opacity: .23;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/img1.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1
}

@media (min-height:700px) {
    .img-holder {
        position: fixed
    }
    .website-logo {
        position: fixed
    }
}

.form-holder {
    margin-left: 550px;
    width: 100vw
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
    height: 650px;
}

.form-holder .form-content ::-webkit-input-placeholder {
    color: #596a8e
}

.form-holder .form-content :-moz-placeholder {
    color: #596a8e
}

.form-holder .form-content ::-moz-placeholder {
    color: #596a8e
}

.form-holder .form-content :-ms-input-placeholder {
    color: #596a8e
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.form-control ::-webkit-input-placeholder {
    color: #596a8e
}

.form-control :-moz-placeholder {
    color: #596a8e
}

.form-control ::-moz-placeholder {
    color: #596a8e
}

.form-control :-ms-input-placeholder {
    color: #596a8e
}

.form-content {
    position: relative;
    background-color: #0093ff
}

.form-content .form-items {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: left;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    text-shadow: #220808 1px 1px 3px
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px
}

.form-content .page-links {
    margin-bottom: 34px
}

.form-content .page-links a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    margin-right: 20px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.form-content .page-links a:last-child {
    margin-right: 0
}

.form-content .page-links a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10px;
    background-color: rgba(255, 255, 255, .5);
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.form-content .page-links a.active {
    font-weight: 700
}

.form-content .page-links a.active:after {
    background-color: #fff
}

.form-content .page-links a:focus:after, .form-content .page-links a:hover:after {
    background-color: #fff
}

.form-content input {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 500;
    color: #1d2531;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    margin-bottom: 14px
}

.form-content input:focus, .form-content input:hover {
    border: 0;
    background-color: #ebeff8;
    color: #8d8d8d
}

.form-content input[type=checkbox], .form-content input[type=radio] {
    width: auto
}

.form-content input[type=checkbox]:checked, .form-content input[type=checkbox]:not(:checked), .form-content input[type=radio]:checked, .form-content input[type=radio]:not(:checked) {
    position: absolute;
    left: -9999px
}

.form-content .form-button {
    margin-top: 30px;
    margin-bottom: 25px
}

.form-content .form-button .ibtn {
    border-radius: 6px;
    border: 0;
    padding: 6px 28px;
    background-color: #fff;
    color: #29a4ff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    outline: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .16);
    box-shadow: 0 0 0 rgba(0, 0, 0, .16)
}

.form-content .form-button .ibtn.ibtn-full {
    width: 100%
}

.form-content .form-button .ibtn:last-child {
    margin-right: 0
}

.form-content .form-button .ibtn:focus, .form-content .form-button .ibtn:hover {
    -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, .16);
    box-shadow: 0 5px 6px rgba(0, 0, 0, .16)
}

.form-content .form-button a {
    font-size: 13px;
    font-weight: 700;
    color: #fff
}

.form-content .form-button.full-width {
    margin-top: 15px
}

.form-content .form-button.full-width .ibtn {
    width: 100%
}

.form-content form {
    margin-bottom: 30px
}

.form-content .other-links span {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    margin-right: 20px
}

.form-content .other-links a {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    margin-right: 10px
}

.form-content .other-links a:last-child {
    margin-right: 0
}

.form-content .form-sent {
    position: absolute;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: scale(.7) translateX(200px);
    -moz-transform: scale(.7) translateX(200px);
    -ms-transform: scale(.7) translateX(200px);
    transform: scale(.7) translateX(200px);
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.form-content .form-sent h3 {
    text-align: center;
    color: #fff
}

.form-content .form-sent p {
    text-align: center;
    color: #fff;
    font-size: 15px;
    opacity: .8;
    margin-bottom: 20px
}

.form-content .form-sent .info-holder {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, .5);
    padding: 10px;
    margin-top: 60px
}

.form-content .form-sent .info-holder span {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    opacity: .6
}

.form-content .form-sent .info-holder a {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    opacity: .9
}

.form-content .row {
    margin-right: -6px;
    margin-left: -6px
}

.form-content .row.top-padding {
    padding-top: 30px
}

.form-content .row.top-padding .form-button {
    margin-top: 0
}

.form-body.on-top .website-logo {
    position: absolute
}

.form-body.on-top .img-holder {
    display: block;
    position: relative;
    width: 100%;
    min-height: initial;
    height: initial;
    overflow: initial;
    padding: 40px
}

.form-body.on-top .form-holder {
    margin-left: 0
}

@keyframes tick-anime1 {
    0% {
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0)
    }
    100% {
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@keyframes tick-anime2 {
    0% {
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0)
    }
    100% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@keyframes tick-anime3 {
    0% {
        background-color: rgba(255, 255, 255, 0);
        -webkit-transform: rotate(35deg) scale(2);
        -moz-transform: rotate(35deg) scale(2);
        -ms-transform: rotate(35deg) scale(2);
        transform: rotate(35deg) scale(2)
    }
    100% {
        background-color: rgba(255, 255, 255, .2);
        -webkit-transform: rotate(45deg) scale(1);
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1)
    }
}

@keyframes c-tick-anime3 {
    0% {
        background-color: rgba(233, 253, 214, 0);
        -webkit-transform: rotate(35deg) scale(2);
        -moz-transform: rotate(35deg) scale(2);
        -ms-transform: rotate(35deg) scale(2);
        transform: rotate(35deg) scale(2)
    }
    100% {
        background-color: #e9fdd6;
        -webkit-transform: rotate(45deg) scale(1);
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1)
    }
}

.alert {
    position: relative;
    padding: 6px 12px;
    border: 1px solid #000;
    color: #000;
    font-size: 13px;
    font-weight: 700
}

.alert a, .alert a.alert-link {
    font-weight: 700;
    color: #000
}

.alert p {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 18px
}

.alert.alert-info {
    background-color: #dcedf1;
    border-color: #42bfdb
}

.alert.alert-light {
    background-color: #fefefe;
    border-color: #a7a4a4
}

#otp-form>a {
    color: #00367e;
    text-shadow: 1px 1px 2px #637da0
}

#alert-msg, #alert-msg2 {
    color: #990c0c;
    text-shadow: .5px .5px 1px #383434;
    font-size: 14px;
}

.loader {
    width: 300px;
    background-color: blue;
    height: 5px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s ease infinite;
}

@keyframes spin {
    0% {
        width: 0px;
        margin-left: 0
    }
    25% {
        width: 150px;
        margin-left: 0
    }
    50% {
        width: 0px;
        margin-left: 300px
    }
    75% {
        width: 150px;
        margin-left: 0
    }
    100% {
        width: 0px;
        margin-left: 0
    }
}

@keyframes zoom-in-img {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15)
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@media (max-width:992px) {
    *, body {
        overflow-y: visible
    }
    .img-holder {
        display: none
    }
    .form-holder {
        margin-left: 0
    }
    .form-holder .form-content {
        padding: 125px 60px 60px
    }
    .form-body.on-top .form-holder .form-content {
        padding: 60px
    }
    .website-logo {
        position: relative;
        top: 50px;
        left: 50px;
        right: initial;
        bottom: initial
    }
    .website-logo .logo {
        background-image: url(../images/logo-light.svg)
    }
}

@media (max-width:575px) {
    .form-body.on-top .img-holder {
        padding: 90px 40px 40px
    }
    .form-content .row.top-padding .form-button {
        text-align: left!important;
        margin-top: 30px
    }

}